name: CD

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  packages: write

env:
  TWINE_USERNAME: __token__
  TWINE_PASSWORD: ${{ secrets.GITHUB_TOKEN }}

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install build tools
        run: |
          pip install build twine

      - name: Build package
        run: python -m build

      - name: Check package
        run: twine check dist/*

      - name: Publish to GitHub Packages
        run: |
          twine upload \
            --repository-url https://upload.packages.github.com/djenajj/final-cicd \
            dist/*
